* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* color: #F1F1F1; */
	font-family: 'Montserrat', sans-serif;
}

.playDetailComponent {
	display: flex;
	flex-direction: column;
	align-items: left;
	font-weight: 400;
	padding: 70px 50px;
	min-width: 600px;
}

.inputsNewTrack {
	display: flex;
	align-items: center;
	margin: 20px 0 20px 0;
}

.inputsNewTrack input {
	background-color: #f4f4f420;
	border: none;
	border-radius: 27px;
	width: 203px;
	height: 40px;
	outline: none;
	padding-left: 15px;
	color: #f4f4f4;
	font-size: 15px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	z-index: 1;
	margin-right: 20px;
}

.inputsNewTrack button {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	margin: 0;
	border: none;
	box-shadow: none;
	border-radius: 100%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	outline: none;
	background: rgba(0, 0, 0, 0);
}

.inputsNewTrack button img {
	width: 30px;
	height: 30px;
}

.playDetailComponent h1 {
	font-size: 28px;
}

.track {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.track audio {
	width: 100px;
	height: 20px;
	margin-left: 20px;

	outline: none;
	
}
.track button,
.track button img {
	width: 20px;
	height: 20px;
	border: none;

	margin-left: 10px;

}

.track button{
	border-radius: 100%;
	
	outline: none;
	background: rgba(0, 0, 0, 0);
}

.track button:hover{
	transform: scale(0.96, 0.96);
}


audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
	background-color: #66d36e;
}

.track p{
	font-size: 12px;
	margin-left: 10px;
}

audio:hover {
	transform: scale(1.05);
	filter: drop-shadow(2px 3px 3px #333);
	transition: ease-in-out 0.2s;
}