.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	margin: 54px auto;
}

.login-container .login-form {
	margin-top: 54px;
}

#logoLogin{
	width: 149px;
	height: 39px;
	margin: 54px 0 30px 5px;
}