.navBar-container{
	display: flex;
	align-content: center;
	justify-content:space-between;

	width: 1000px;
	height: 50px;
	margin-top: 40px;
}

.navBar-container #logo{
 width: 149px;
 height: 39px;
}
#logo:hover{
	cursor: pointer;
}

.navBar-container .navBar-menu{
	display: flex;
	align-items: center;
	justify-content: right;

	width: 220px;

	font-size: 1.8rem;
	font-weight: bold;

}

.navBar-menu h4:hover{
	cursor: pointer;
	transform: scale(0.99, 0.99);
	transition: ease-in-out 0.2s;
	color: var(--green);
}

.navBar-container .navBar-search{
	display: flex;
	align-items: center;
}


#search{
	width: 359px;
	height: 40px;

	background-color: var(--input-color);

	outline: none;
	border: none;

	border-radius: 10px;
	padding: 0 20px;
	margin-right: 10px;

	color: var(--med-grey);

	font-size: 1.8rem;
}

#search:hover{
	transform: scale(0.995, 0.995);
	transition: ease-in-out 0.4s;

}


