.tripCard-container {
	width: 400px;
	height: 400px;
	margin: 0 10px 10px 0;
	padding: 15px;
	border: none;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-end;
	overflow: hidden;
}

.tripCard-container:hover {
	transform: scale(1.05, 1.05);
	transition: ease-in-out 0.2s;
	margin: 10px;
	cursor: pointer;
	border: 1px solid var(--med-grey);
}

.tripCard-container img {
	width: 100%;
	height: 80%;
}
