body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "verde amarelo amarelo amarelo"
                         "rosa rosa rosa rosa"
                         "azul azul branco vermelho"
                         "azul azul branco verdeClaro"
                         "roxo roxo roxo roxo";
}

.green-background {
    background-color: green;
    grid-area: verde;
    display: grid;
    justify-items: center;
    align-items: center;
}

.yellow-background {
    background-color: yellow;
    grid-area: amarelo;
    display: grid;
    justify-items: center;
    align-items: center;
}

.pink-background {
    background-color: fuchsia;
    grid-area: rosa;
    display: grid;
    justify-items: center;
    align-items: center;
}

.blue-background {
    background-color: blue;
    grid-area: azul;
    display: grid;
    justify-items: center;
    align-items: center;
}

.red-background {
    background-color: red;
    grid-area: vermelho;
    display: grid;
    justify-items: center;
    align-items: center;

}

.lightgreen-background {
    background-color: lightgreen;
    grid-area: verdeClaro;
    display: grid;
    justify-items: center;
    align-items: center;

}

.purple-background {
    background-color: purple;
    grid-area: roxo;
    display: grid;
    justify-items: center;
    align-items: center;
}