*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: hellvetica, sans-serif;
    min-width: 800px;
    max-width: 1920px;
    color: rgb(48, 47, 47);
    background-color: rgb(255, 255, 255);
}

.logo{
    margin-top: 20px;
}

.logo img{
    width: 100px;
    height: 25px;
}


nav{
    width: 100%;
    height: 50px;
    margin: 20px;
    
}
nav a{
    
    display: inline-block;
    text-decoration: none;
    color:rgb(48, 47, 47);
    font-weight: 550;
    margin: 5px ;
    width: 170px;
    height: 30px;
    padding: 6px 0;
    color:  rgb(48, 47, 47);
    border-bottom: 1px solid  rgb(48, 47, 47);;

}

nav a:hover{
    background-color: rgb(48, 47, 47);
    color: white;
    transition: ease-in-out;
    transition: .6s;
}

.funcionarios{
    
    display: block;
    text-align: center;
    width: 600px;
    height: 600px;
    margin: auto;
}


.funcionarios-info img{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px  rgba(75, 75, 75, .6);
    
}

