* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #2b2b2b;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f3f8fa;
	min-width: 800px;
}

.appContainer {
	display: flex;
	justify-content: space-between;
	padding: 50px;
}

.cartWrapper {
	width: 300px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.cartContainer {
	display: flex;
	flex-direction: column;
	align-items: left;
	background-color: #453cb1;
	border-radius: 20px;
	padding: 20px;
	width: 15vw;
	min-width: 300px;
	height: 70vh;
}

.cartContainer h1, h4 {
	color: #33ffa5;
}

.cartContainer h4 {
	position: absolute;
	top: 80vh;
}

.cartItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	margin-top: 20px;
}

.cartItem p {
	color: #eaf8ff;
	font-weight: bold;
	font-size: 18px;
}

.cartItem img {
	width: 20px;
	height: 20px;
}