.navBarWrapper{
	width: 100vw;
	height: 70px;

	display: flex;
	justify-content: center;

	background-color: #453cb1;
}

.navBarContainer{
	display: flex;
	align-items: center;
	justify-content:space-between;

	width: 100%;
	
	max-width: 1600px;

	padding: 20px;

}

.navBarContainer .logo{
	width: 100px;
	height: 100px;

       
 
}

.cartBtn{
	width: 30px;
	height: 30px;


}