<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="index.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="main-container">
        <div class="container-red">
            <div id="first-block"></div>
        </div>
        

        <div class="container-3colors">
            <div class="blue-block" id="blue1">1</div>
            <div class="yellow-block" id="yellow1">2</div>
            <div class="green-block" id="green1">3</div>
            <div class="blue-block" id="blue2">4</div>
            <div class="yellow-block" id="yellow2">5</div>
            <div class="green-block" id="green2">6</div>
        </div>
        
        <div class="container-black">
            <div class="black-block">7</div>
            <div class="black-block">8</div>
        </div>

        <div class="container-white">
            <div class="white-block">9</div>
            <div class="white-block">10</div>
            <div class="white-block" id="white-3">11</div>
        </div>
       
    </div>
</body>

</html>