*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1110 px;
    max-width: 1920px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: center;
    background-color: #262622;
    color: #46fdff;
    font-size: 20pt;
    margin: auto;
}

.container-Nav{
    width: 1110px;
    height: 150px;
    display: inline-block;
    margin-top: 25px;
}

.logoNav{
    width: 150px;
    height: 75px;
    float: left;
    margin: 10px 0;
}
nav{
    float: right;
    padding: 20px 0;
}

nav a{
    text-decoration: none;
    color: #46fdff;
}

nav a:hover{
    color: #262622;
    font-size: 25pt;
    transition: 0.8s;
    background-color:#46fdff;
    cursor: pointer;
}


h1{
    font-size: 35pt;
    margin-bottom: 20px;
}


p{
    font-weight: 300;
    font-size: 15pt;
    margin: auto;
    width: 600px;
    margin-bottom: 40px;
}

h4{
    font-size: 14pt;
}
.icon{
    margin: 20px 0;
    width: 35px;
    height: 35px;
}

.projectImg{
    margin: auto;
    width: 800px;
    display: block;

}

.projectImg:active{
    width: max-content;
    height: max-content;
}

a{
    text-decoration: none;
}

input{
    width: 400px;
    padding: 0;
    border: none;
    background: none;
    background-color: #46fdff;
    font-family: monospace;
    font-weight: bold;
    font-size: 18pt;
    color: #262622;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

input:hover{
    background-color: #262622;
    color: #46fdff;
    font-size: 20pt;
    transition: 0.6s;
    border: 0.5px solid #46fdff;
}


#imgProj-2-3{
    margin-bottom: 100px;
}




