body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.main-container{
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-columns: 100vh;
    grid-template-areas: "vermelha"
                         "colors"
                         "blackCont"
                         "whiteCont";
    justify-content: center;
    align-content: center;
    height: 100%;
}

.container-3colors{
    grid-area: colors;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    height: 30vh;
    margin: 10px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.container-black{
    grid-area: blackCont;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    margin-top: 20px;

}

.container-white{
    grid-area: whiteCont;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    margin: 10px;
    margin-top: 20px;
    column-gap: 20px;
    row-gap: 20px;
    height: 300px;

}


div {
    /* border: 1px solid black; */
}

.container-red{
    grid-area: vermelha;
    display: grid;
    grid-template-columns: 100vw;
    height: 70px;
}

#first-block {
    background-color: red;
    border: 1px solid black;
}

.blue-block {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.yellow-block {
    background-color: yellow;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.green-block {
    background-color: green;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.black-block {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.white-block {
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;;
}


@media screen and (min-width: 600px) and (max-width: 1024px){
    .container-3colors{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-template-areas: "blue1 yellow1"
                             "green1 green1"
                             "blue2 yellow2"
                             "green2 green2";
        height: 40vh;
    }

    #blue1{
        grid-area: blue1;
    }

    #blue2{
        grid-area: blue2;
    }

    #yellow1{
        grid-area: yellow1;
    }

    #yellow2{
        grid-area: yellow2;
    }

    #green1{
        grid-area: green1;
    }

    #green2{
        grid-area: green2;
    }
   
    .container-white{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .white-block {
        background-color: white;
        display: grid;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }

    #white-3{
        grid-area: 2/1/3/3;
    }


}


@media screen and (max-width:599px){
   .container-3colors{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
    height: 100vh;
    margin: 10px;
    margin-top: 20px;
   }

   .container-black{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       height: 100vh;
       row-gap: 20px;
   }
   
   .container-white{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       height: 50vh;
       margin: 10px;
       margin-top: 20px;
    }
}