*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    max-width: 100vw;
    margin: auto;
}

.container{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "nav"
                         "main"
                         "footer";
    
}

nav{
    grid-area: nav;
    background-color: #46525b;
    display: grid;
    grid-row: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo search";
    height: 100px;
    justify-items:end;
    align-items: center;
    
}

#logo{
    width: 136px;
    height: 45px;
    margin: 0 50px;
    justify-self: start;
}

nav>input{
    height: 30px;
    width: 200px;
    color: #46525b;
    border-radius: 20px;
    margin: 0 50px;
    padding: 10px;
    border-style: none;
    box-shadow: 0 0 10px #181b1d;
}

section{
    grid-area: main;
    max-width: 1200px;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two three four"
                         "five six seven eight";
    margin: auto;
    margin-top: 0px;
    grid-gap: 10px;
}

.videoDiv{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid rgb(244, 98, 19);
}
.videoDiv:hover{
    background-color: #d0d0d03d;
    box-shadow: 0 0 20px #46525bf1;
    transition: ease-in-out 0.3s;
    width: 102%;
    height: 82%;
    border: 2px solid rgb(244, 98, 19);
    background-color: rgb(244, 98, 19);
    color: white;
}

.videoDiv img{
    width: 100%;
    height: 80%;
}

.videoDiv p{
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    margin: 10px;
}

footer{
    grid-area: footer;
    margin-top: 50px;
    background-color: #46525b;
    height: 80px;
}


@media screen and (max-width: 900px) and (min-width: 500px){
    nav{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        height: 150px;
        justify-content: center;
       
    }

    #logo{
        margin-bottom: 20px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    section{
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: auto;
        align-items: center;
        margin-top: 50px;
     
    }

    .videoDiv{
        width: 100%;
        height: 50%;
        border: 2px solid rgb(244, 98, 19);
        background-color: rgb(244, 98, 19);
        color: white;
    }

    .videoDiv img:hover{
        box-shadow: none;
    }
    .videoDiv:hover{
        background-color: #d0d0d03d;
        box-shadow: 0 0 20px #46525bf1;
        transition: ease-in-out 0.3s;
        width: 110%;
        height: 80%;
        border: 2px solid rgb(244, 98, 19);
        background-color: rgb(244, 98, 19);
        color: white;
    }

    
}